ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-right: 100px;
}
li{
    margin-left: 30px;
    color: #666666;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;   
}

a{
    text-decoration: none;
    color: #666666;
    position: relative;
    cursor: pointer;
}
a::after{
  content: ''; /* Aggiunge un contenuto vuoto per creare la linea */
  position: absolute; /* Imposta la posizione assoluta per la linea */
  left: 0; /* Allinea la linea con il bordo sinistro del link */
  bottom: -3px; /* Sposta la linea sotto il testo del link */
  width: 100%; /* La linea si estende per tutta la larghezza del link */
  height: 2px; /* Altezza della linea */
  background-color:#666666; /* Colore della linea */
  transform: scaleX(0); /* La linea è inizialmente nascosta (scala in x a 0) */
  transform-origin: 0% 50%; /* L'animazione inizia dalla sinistra */
  transition: transform 0.3s ease;
}


a:hover::after{
    transform: scaleX(1);
}


header,footer{
    height: 100px;
    background-color: #f8f8f8;
}
.jumbotron{
    text-align: center;
    width: 80%;
    margin: 40px auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text{
    margin-top: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #666666;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copywriter{
    margin-left: 40px;
}